---
import Layout from "@layouts/Default.astro";
import Hero from "@components/Hero.astro";

import bgImg from "@assets/images/spa.webp";

import data from "@content/pages/about.json";

// Format the content into paragraphs
const formattedContent = data.content
  .split("\n\n")
  .map((paragraph) => `<p>${paragraph}</p>`)
  .join("");
---

<Layout title={data?.title}>
  <Hero backgroundImageUrl={bgImg.src} headline={data?.title} />
  <article class="prose prose-xl mx-auto max-w-screen-xl py-20">
    <div set:html={formattedContent} />
  </article>
</Layout>
