---
import CastleHill from '@components/CastleHill.astro'
import Welcome from '@components/Welcome.astro'
import Layout from '@layouts/Layout.astro'
import Treatments from '@components/Treatments.astro'
import Room from '@components/Room.astro'
import Footer from '@components/Footer.astro'

import directus from '@api/directus'
import { readItems } from '@directus/sdk'

const homePage = await directus.request(
  readItems('home_page', {
    fields: ['*'],
  })
)

const treatmentsPage = await directus.request(
  readItems('treatment_page', {
    fields: ['*'],
  })
)
const backgroundImageUrl = `${import.meta.env.PUBLIC_API}/assets/${homePage.featured_image}`
const castleHillImage = `${import.meta.env.PUBLIC_API}/assets/${homePage.castle_hill_bg_img}`
const castleHillMedia = `${import.meta.env.PUBLIC_API}/assets/${homePage.castle_hill_media}`
export const prerender = true
---

<Layout title={homePage.title}>
  <div class=""> 
    <section class="h-dvh" id="welcome"> 
      <Welcome headline={homePage.headline} backgroundImageUrl={backgroundImageUrl} />
    </section>
    <section id="about" class="snap-start"> 
      <div class="relative flex-grow bg-primary"> {/* Consider adding h-screen if needed */}
        <CastleHill
          castle_hill_bg_img={castleHillImage}
          castle_hill_headline={homePage.castle_hill_headline}
          castle_hill_content={homePage.castle_hill_content}
          castle_hill_media={castleHillMedia}
        />
      </div>
    </section>
    <section class="relative bg-gradient-to-b from-primary to-neutral pb-40 " id="treatments"> 
      <div class="h-full"> 
        <header class="py-10 text-center">
          <h2 class="font-hand text-4xl lg:text-6xl font-semibold text-neutral intersect:animate-duration-1000 intersect:animate-ease-in intersect:animate-fade">
            {treatmentsPage.headline}
          </h2>
          <p>{treatmentsPage.intro}</p>
        </header>
        <ul class="mx-auto grid max-w-screen-2xl grid-cols-1 gap-6 px-3 sm:grid-cols-2 lg:grid-cols-3">
          <Treatments />
        </ul>
      </div>
    </section>

    <section class="h-fit bg-neutral" id="room">
      <Room />
    </section>

    <section class="h-fit "> 
      <Footer />
    </section>
  </div>
</Layout>
