---
import { Image } from 'astro:assets'
import TopBar from '@components/TopBar.astro'
import Treatments from '@components/Treatments.astro'
import MobileButtons from '@components/MobileButtons.astro'
import Layout from '@layouts/BaseLayout.astro'

import directus from '@api/directus'
import { readItems } from '@directus/sdk'

const termsPage = await directus.request(
  readItems('terms_page', {
    fields: ['*'],
  })
)


const backgroundImageUrl = `${import.meta.env.PUBLIC_API}/assets/${termsPage.background_image}`
---

<Layout title={termsPage.title} backgroundImageUrl={backgroundImageUrl}>
    <div class="h-full pb-20 bg-neutral/50">
      <TopBar />
       <div class="p-3 min-h-[80dvh]">
        <div class="container max-w-screen-xl mx-auto p-3">
            <h1
            class="mx-auto max-w-6xl  text-wrap text-center text-4xl font-bold tracking-tight text-white/90 drop-shadow   md:text-6xl py-6 font-hand">
            { termsPage.title }
          </h1>
          
          <div class="bg-white/80">
            <article class="prose prose-sm lg:prose-xl max-w-none p-6">
              <p set:html={termsPage.content}/>
          </article>
          </div>
           </div>
       </div>
      
    </div>
  </Layout>