---
import { getCollection, getEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const treatments = await getCollection("treatments");
  return treatments.map((treatment) => ({
    params: { slug: treatment.id },
    props: { treatment },
  }));
}

const { treatment } = Astro.props;
const blocks = treatment.data.blocks ?? [];

---

<Layout title={treatment.data.title}>
  <h1>{treatment.data.title}</h1>

  <ul>
    {
      blocks.map((block) => (
        <li>
          <h2>{block.value.name}</h2>
          <p>{block.value.description}</p>
          <p>Duration: {block.value.duration} minutes</p>
          <p>Cost: ${block.value.cost}</p>
          <a href={block.value.url}>Book Now</a>
        </li>
      ))
    }
  </ul>
</Layout>
