---
import { getCollection, getEntry } from "astro:content";
import Layout from "@layouts/Default.astro";
import Hero from "@components/Hero.astro";
import TreatmentCard from "@components/TreatmentCard.astro";

import bgImg from "@assets/images/spa.webp";

const treatments = await getCollection("treatments");
---

<Layout title="Treatments">
  <Hero
    title="Treatments"
    backgroundImageUrl={bgImg.src}
    headline="Available Treatments"
    intro="My treatments are designed to provide you with the best care and comfort. Choose from a variety of options to suit your needs and preferences."
  />

  <section>
    <div class="container mx-auto px-3 py-20">
      <ul
        class="flex flex-wrap items-stretch justify-center gap-4 md:gap-6 lg:gap-8">
        {
          treatments.map((treatment) => (
            <li class="flex">
              <a
                href={`/treatments/${treatment?.id}`}
                class="intersect:animate-fade-up animate-duration-3000 animate-delay-1000 flex h-96 max-w-96">
                <TreatmentCard
                  title={treatment.data.title}
                  headline={treatment.data.headline}
                  imgSrc={treatment.data.image}
                  imgAlt={treatment.data.title}
                  excerpt={treatment.data.excerpt}
                />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
